@tailwind base;
@tailwind components;
@tailwind utilities;


.bg{
  background-image: url(/images/bg.webp);
   background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width:1536px) {
  .isHoverStyle:hover{
  transform: scale(.99);
  transition: all 0.1s ease;
  box-shadow: 1px 1px 1px gray;
}
.responsiveforlaptop{
  display: block;
}
}

/* for loading page */
.loader {
  display: flex;
  align-items: center;
}

.icon {
  animation: spin 1s linear infinite;
  stroke: rgba(107, 114, 128, 1);
}

.loading-text {
  font-weight: 500;
  color: rgba(107, 114, 128, 1);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}